{#% extends 'base.html.twig' %}

{% block title "Connexion" %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button>
	</form>
{% endblock %#}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		{% block body %}
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<h2 class="text-center text-primary mt-5">Se connecter</h2>
						<div class="card my-5">

							<form class="card-body cardbody-color p-lg-5" method='post'>

								<div class="text-center">
									<img src={{ asset("/images/avatar.jpg") }} class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
								</div>

								<div class="mb-3">
									<input type="email" name="email" value="{{ last_username }}" class="form-control" id="inputEmail" placeholder="Votre adresse email" autocomplete="email" required autofocus/>

								</div>
								<div class="mb-3">
									<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Votre mot de passe" autocomplete="current-password" required/>
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-color px-5 mb-5 w-100">Se connecter</button>
								</div>
								<div class="checkbox mt-3">
									<label>
										<input type="checkbox" name="_remember_me">
										Se souvenir de moi
									</label>
								</div>
								<div id="emailHelp" class="form-text text-center mb-5 text-dark">Non enregidtré?
									<a href="{{ path('app_register') }}" class="text-dark fw-bold">
										Créer un compte
									</a>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>

		{% endblock %}

	</body>
</html>
