<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Inscription
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container mt-5">
			{% block body %}
				{% for flash_error in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}
				<h1 class="text-center m-5 text-primary font-weight-bold">Register</h1>

				{#{ form_errors(registrationForm) }#}

				{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
				<div class="row offset-md-2">
					<div class="col-md-4 col-lg-4 col-sm-12 form-group ">
						{{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control'}, 'label': 'Prénom'}) }}
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 form-group ">
						{{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control'}, 'label': 'Nom'}) }}
					</div>
				</div>

				<div class="row offset-md-2">
					<div class="col-md-4 col-lg-4 col-sm-12 form-group ">
						{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}, 'label': 'Adresse e-mail'}) }}
					</div>
				</div>

				<div class="row offset-md-2">
					<div class="col-md-4 col-lg-4 col-sm-12 form-group ">
						{{ form_row(registrationForm.password.first, {'attr': {'class': 'form-control'}, 'label': 'Mot de passe'}) }}
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 form-group ">
						{{ form_row(registrationForm.password.second, {'attr': {'class': 'form-control'}, 'label': 'Confirmation de mot de passe'}) }}
					</div>
				</div>

				<div class="row offset-md-2">
					<div class="col-md-4 col-lg-4 col-sm-12 form-group ">
						{{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-control'}, 'label': 'Accepter les termes d\'utilisation'}) }}
					</div>
				</div>
				<div class="row offset-md-2">
					<button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
				</div>

				{{ form_end(registrationForm) }}
					{% endblock %}

				</div>
			</body>
		</html>
	</body>
</html>
